<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= link_to "#{@link.url}", @link.url %>
</p>


<%= link_to 'Back', links_path %>
<% if @link.user == current_user && (Time.now - @link.created_at)/60 < 15 %>
  <%= link_to "Edit", edit_link_path(@link) %>
  <% end %>


<%= render :partial =>"comments/comments", :locals => { :link => :id} %>
